.footer{
   max-width: 1920px;
min-height: 508px;
background-color: #2f3f54;
   background: url('/img/Footer.jpg');
   background-repeat: no-repeat;
   background-position: center;
   padding-top:80px;
}
.footer__wrap{
   
   display: flex;
   justify-content: space-between;
}
.block1 .logo__text{
   font-family: Roboto;
font-size: 22px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #d0e4ff;
margin-left:10px;

}
.bl1__logo{
   display: flex;
   align-items: center;
}

.block1__text{
   max-width: 245px;
   width: 100%;
   font-family: Lato;
font-size: 13px;
line-height: 22px;
font-weight: 400;
color: #718db2;
margin:30px 0;
padding-bottom:30px;
border-bottom:1px solid rgba(250, 250, 250, 0.5)
}

.block2 p,
.block3 p,
.block4 p{
font-family: Roboto;
font-size: 16px;
line-height: 1.2;
font-weight: 400;
color: #d0e4ff;
padding-bottom: 20px;
}
.block2 li,
.block3 li{
   font-family: Roboto;
font-size: 16px;
line-height: 1.2;
font-weight: 400;
color: #d0e4ff;
margin-bottom: 10px;
list-style: none;
}

.block4 .ft__btn{
   font-family: Roboto;
font-size: 13px;
line-height: 1.2;
font-weight: 400;
text-transform: uppercase;
color: #ffffff;
border-radius: 0;
border:0;
padding:11px 12.5px;
display: block;
background-color: #267ae9;
}
.block4 input{
   display: block;
   /*margin-bottom:10px;*/
   max-width:270px;
   width: 100%;
   min-height: 40px;
   height: 100%;
border:1px solid #718db2;
padding:0 10px;
background-color: #2f3f54;
}
form input placeholder{
 
   font-family: Lato;
font-size: 11px;
line-height: 1.2;
font-weight: 400;
color: #718db2;

}
form textarea{
   max-width: 245px;
   width: 100%;
   height:86px;
   background-color: #2f3f54;
   color: #718db2;
   padding:0 10px;
   border:1px solid #718db2;;
}
