@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("lider.css");
@import url("main.css");
@import url("testimonial.css");
@import url("footer.css");
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #303030;
}

.wrapper {
  max-width: 1940px;
  width: 100%;
  min-height: auto;
  padding: 0 10px;
  margin: 0 auto;
}

.wrap {
  max-width: 1170px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: green;
  position: relative;
}

.header__wrap .logo {
  padding: 23px 0;
  display: block;
}

.burger__menu {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 50px;
  height: 50px;
  background-color: pink;
  cursor: pointer;
  display: none;
}

.burger__menu span,
.burger__menu span:before,
.burger__menu span:after {
  position: absolute;
  top: 50%;
  margin-left: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
  cursor: pointer;
}

.burger__menu span:before,
.burger__menu span:after {
  content: '';
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  display: block;
}

.burger__menu span:before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.burger__menu span:after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.burger__menu-active span {
  height: 0;
}

.burger__menu-active span:before {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.burger__menu-active span:after {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.headerList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.headerList a {
  text-decoration: none;
  margin-right: 35px;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #2f3f54;
}

@media (max-width: 1800px) {
  .burger__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .headerList {
    display: none;
  }
  .header__wrap {
    padding-bottom: 20px;
    padding-left: 50px;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .headerList {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .headerList li {
    text-align: center;
  }
  .headerList li {
    padding: 10px 0px;
  }
  .headerList.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */