@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import url('lider.css');
@import url('main.css');
@import url('testimonial.css');
@import url('footer.css');


*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,body{
font-family: 'Roboto', sans-serif;
font-size: 16px;
 color:#303030;
}

.wrapper{
   max-width: 1940px;
   width: 100%;
   min-height: auto;
   padding: 0 10px;
   margin: 0 auto;
}

.wrap{
   max-width: 1170px;
   width: 100%;
   padding:0 10px;
   margin: 0 auto;
  
}

.header__wrap{
   display: flex;
align-items: center;  
justify-content: space-between;
flex-wrap: wrap;
background-color: green;
position: relative;
}
.header__wrap .logo{
padding:23px 0;
display: block;
}

.burger__menu{
   position: absolute;
   top: 20px;
   right:20px;
   
   display: block;
   width: 50px;
   height: 50px;
   
   background-color: pink;
   cursor: pointer;
display: none;
}
//.burger__menu input{
//   display: none;
//}
.burger__menu span,
.burger__menu span:before,
.burger__menu span:after{
   position: absolute;
   top:50%; margin-left: -1px;
   left:50%; margin-left: -10px;
   width: 20px;
   height: 2px;
   background-color: #222;
   cursor: pointer;
}

.burger__menu span:before,
.burger__menu span:after
{
   content:'';
   transition: all .5s ease;
   display: block;
}

.burger__menu span:before{
   transform: translateY(-7px);
}

.burger__menu span:after{
   transform: translateY(5px);
}
.burger__menu.active span{
   height: 0;
}
.burger__menu.active span:before{
   transform: rotate(35deg);
  
}
.burger__menu.active span:after{
   transform: rotate(-35deg);
   
}


.headerList {
   display: flex;
   //display: none;

   
   list-style: none;
}
.headerList a{
    text-decoration: none;
    margin-right:35px;
    font-family: 'Open Sans';
font-size: 14px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #2f3f54;

}

.comp__logo {
   max-width:1170px;
   width: 100%;
   min-height: 100px;
   background-image: url('/img/layer_45_5710.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   //background-attachment: fixed;
   margin: 100px auto;
   padding: 0 15px;
}


@media (max-width:1800px){

   .burger__menu {
      display: flex;
     
   }
   .headerList{
      display: none;
     }
   .header__wrap{
      padding-bottom: 20px;
      padding-left: 50px;
      margin: 0 auto;
         flex-direction: column;
         align-items: flex-start;
   }
   .headerList {
      width: 100%;
      flex-direction: column;
      //display: block;
     
   }
   .headerList li{
       text-align: center;
   }
   .headerList li {
   padding: 10px 0px;
   //margin: 40px 40px;
}
 .headerList.active {
    display: flex;
}
.comp__logo{
   background-size: 93%;
}
}
@media screen and (max-width:760px) {
   // display: flex;

}